{% extends 'users/base.html' %}
{% load chatapp_extras %}
{% block content %}

<div class='col-sm-6 col-sm-offset-3'>
    {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
    <h1>Home Page</h1>
    <hr>
    
    {% if user.is_authenticated %}
    <div class="alert alert-success" role="alert">
        <h3>Welcome {{ user.username }}!</h3>
        <a href="{% url 'logout' %}">Logout?</a>
    </div>

    <p> Here is a list of users you might wanna chat with... </p>

    <div style='display:flex; flex-flow: row wrap'>
        {% for other_user in all_users %}
        {% construct_url user.id other_user.id as urlstring %}
        <div class="card" style="width: 18rem; border: 1px solid gray; margin: 2px; padding-left: 5px">
            <div class="card-body">
                <h5 class="card-title">{{ other_user.first_name }}</h5>
                <h6 class="card-subtitle mb-2 text-muted" style="color: green;">
                    {% if other_user.username in online_users %}Online
                    {% else %} <br/>
                    {% endif %}
                    </h6>
                <a href="{% url 'room' urlstring %}">Chat</a>
             
            </div>
          </div>
        {% endfor %}
    </div>
    
    {% else %}
        <div class="alert alert-success" role="alert">
            <h3>Welcome!</h3>
            <a href="{% url 'register' %}">Signup</a>
            <a href="{% url 'login' %}">Login</a>
        </div>
    {% endif %}
</div>

{% endblock %}